* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color:rgb(118, 161, 161);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 3rem auto;
    text-align: center;
}

.details {
    background-color: rgb(206, 201, 197);
    text-align: center;
    line-height: 230%;
    margin: 10em auto;
    padding: 2rem;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-home {
  font-size: 0.8rem;
}